:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-border: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    --color-purple: #b040ff;
}

body {
    background-color: var(--color-dark1);
    color: var(--color-white);
}

.img_logo_header {
    width: 65px;
}

.header, .navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 5rem;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3rem;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-purple);

    transition: 1s;
    font-weight: bold;
}

.active {
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}  

.content {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.card_home1 img {
    width: 71%;
    border-radius: 10px;
}

.card_home1 {
    width: 500px;
    padding: 20px 20px;
    margin: 30px;
    background: #2a2634;
    border-radius: 10px; 
    position: relative;
    animation-duration: 2s;
    animation-name: SlideIn;
    cursor: pointer;
    transition: 1s;
    color: var(--color-white);
}

.card_home1:hover {
    scale: 1.1;
}

.card_home1::after {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 10px 10px;

}

.return {
    background: #2a2634;
    width: auto;
    padding: 6px;
    margin-top: 24px;
    border-radius: 10px;
    animation-duration: 2s;
    animation-name: SlideIn;
}

@keyframes SlideIn {
	0% {
        transform: translateY(-10000px);

    }
    80% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}
