@media screen and (max-width: 760px) {
    .btn_icon_header {
        display: block;
        user-select: none;
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1rem;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .card_home1 {
        width: 360px;
    }
}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }
    top {
        margin-left: -10vw;
    }
}